*
{


  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body
{
  background: url(images/LocationBG.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
hr.one
{
  position: absolute;
  width: 100%;
  height: 4px;
  top: 88%;
  border: none;
  background: orange;

}
.button
{

  border: none;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;


}
.Formbtn
{
  border: none;
  color: Gray;
  width: 100px;
  height: 30px;
  margin: 4px 10px;
  font-size: 13px;
  cursor: pointer;
}
#container
{
text-align: center;
margin-right: 40px;
}

.button1 {background-color: #291413;}
.button2 {background-color: orange;}
.button3 {background-color: #291413;}
.button4 {background-color: #291413;}
.button5 {background-color: #291413;}
.button6 {background-color: #291413;}
.button7 {background-color: #291413;}

.button1:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}
.button2:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}
.button3:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}
.button4:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}
.button5:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}
.button7:hover
{
  box-shadow: inset 110px 0 0 0 orange;
  transition: ease-out 0.3s;
}


nav
{
  position: sticky;
  top: 0px;
  background: #291413;
  width: 100%;
  height: 65px;
  text-align: center;

}
nav li
{
  text-align: center;

}

section
{
  background: url(images/LocationBG.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
}

#sidebar
{
  position:absolute;
  width: 15%;
  height: 50%;
  top:50px;
  background-color: black;
  right: -15%;
  transition: 0.5s ease;
  display: none;
}
#sidebar li
{
  flex: 1;
  background-color:black;
  text-align: center;
  padding: 0.5em;
  font-size: 16px;
  color: white;
  font-family: inherit;
}

#sidebar li.socmed
{
color: blue;
}

#sidebar li a
{
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: #B83239;
}

#sidebar li a:hover
{
color: #E6676B
}
#sidebar.active
{
  position: absolute;
  transition: 0.5s ease;
  right: 0;
  top: 50px;
  display: block;

}
.img
{
  position: absolute;
  width: 150px;
  height: 30px;
  left: 10%;
  margin: 4px 10px;
  top: 10px;
}



input[type = "checkbox"]
{
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.bar
{
  position: sticky;
  cursor: pointer;
  display: flex;
  float: right;
  margin-right: 40px;
  top: 25px;
}
.bar .mid
{
  height: 4px;
  width: 30px;
  background: white;
  border-radius: 50px;
  position: absolute;
  transition: 0.5s ease;
}

.bar .top
{
  bottom: 4px;
  height: 4px;
  width: 30px;
  background: white;
  border-radius: 50px;
  position: absolute;
  transition: 0.5s ease;
}

.bar .bot
{
  top: 8px;
  height: 4px;
  width: 30px;
  background: white;
  border-radius: 50px;
  position: absolute;
  transition: 0.5s ease;
}
input[type = "checkbox"]:checked ~ .bar .top
{
  transform: rotate(-45deg);
  transform-origin: right;
  top: -10.5px;
  width: 29.6px;
}

input[type = "checkbox"]:checked ~ .bar .bot
{
  transform: rotate(45deg);
  transform-origin: right;
  top: 10.5px;
  width: 29.6px;
}
input[type = "checkbox"]:checked ~ .bar .mid
{
  transform:translate(20px);
  opacity: 0;

}

.form
{
  margin-top: 5%;
  margin-left: 5%;
  padding: 2vw 4vw;
  border-radius: 10px;
  background: white;
  border: solid gray;
  width: 90%;
  height: 565px;

}
.form h2
{
  text-align: center;
  color: #F5C43B;
}
.form h4
{
  font-family: monospace;
  margin-left: 5%;

}
.form i
{
  color: blue;
}
iframe.Map
{
  width: 40%;
  height: 500px;
  float: left;
  position: static;
}
.form input
{
  border: 1px solid yellow;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  letter-spacing: 1px;

}
.form textarea
{
  border: 1px solid yellow;
  margin: 10px 0;
  padding: 8px;
  outline: none;
  letter-spacing: 1px;
}
.form button
{
  background-color: yellow;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 50px;
  letter-spacing: 1px;
}
.form li
{
margin-left: 51%;
}

@media(max-width: 858px)
{
  #sidebar
  {

    position:absolute;
    width: 100%;
    height: 100%;
    top:58px;
    background-color: black;
    right: -1000px;
    transition: 0.8s ease;
    display: none;
  }
  nav
  {
    background: #291413;
    width: 100%;
    height: 58px;
    text-align: center;
    flex: 1;
  }

  #menubuttons
  {
  display: none;
  }

  .bar
  {
  position: sticky;
  float: right;
  margin-right: 40px;
  line-height: 40px;
  top: 25px;
  }
  #sidebar.active
  {
  position: absolute;
  right: 0px;
  transition: 0.5s ease;
  display: block;

  }
}
@media(max-width: 600px)
{
  .img1
{
position: absolute;
width: 100%;
display: fixed;
height: 30%;
text-align: center;
top: 58px;
}

}
@media(max-width: 420px)
{
  .form input
  {
  width: 100px;
  }
  .form textarea
  {
    width: 100px;
  }
}
